* {
  margin: 0;
  padding: 0;
}

.text {
  color:white;
  font-size: 25px;
  font-family: 'Harry Potter', sans-serif;
}

#title {
  text-align: center;
  padding: 80px;
  font-size: 65px;
}

#char_house {
  border-collapse: collapse;
  overflow-y:scroll;
  height:400px;
  width:700px;
  display: block;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#char_house tr {
  color: #ffffff;
}

#char_house thead tr {
  border-bottom: 2px solid white;
}

#char_house body tr {
  text-align: left;
}

#char_house th,
#char_house td {
  padding: 12px 15px;
}

#char_house th:nth-child(1),
#char_house td:nth-child(1) {
  background-color:rgb(116, 0, 1);
}

#char_house th:nth-child(2),
#char_house td:nth-child(2) {
  background-color:rgb(26, 71, 42);
}

#char_house th:nth-child(3),
#char_house td:nth-child(3) {
  background-color:rgb(255, 216, 0);
}

#char_house th:nth-child(4),
#char_house td:nth-child(4) {
  background-color:rgb(14, 26, 64);
}

#char_info {
  color: white;
  font-size: 20px;
}

#input {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-top: 50px;
}

.wrapper {
  display: flex;
  position: relative;
  left: 400px;
  margin: 40px;
}

.table_wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 40px;
}

#char_pic {
  background-color: white;
  height: 380px;
  width: 280px;
}

#char_pic img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.header {
  height: 230px;
  background-image: url(https://wallpaperaccess.com/full/871025.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

body {
  background-image: url(https://www.seekpng.com/png/full/173-1736350_fog-background-mist.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}