* {
  margin: 0;
  padding: 0;
}

.text {
  color:white;
  font-size: 1.3vmax;
  font-family: 'Harry Potter', sans-serif;
}

#title {
  text-align: center;
  padding-top: 5vmax;
  font-size: 3.5vmax;
}

#name {
  width: 15vw;
  height: 1.2vmax;
}

#submit {
  width: 4vw;
  font-size: 0.8vmax;
}

#random {
  width: 13vw;
  font-size: 0.8vmax;
}

#char_house {
  border-collapse: collapse;
  overflow-y:scroll;
  height: 28vmax;
  width: 48vmax;
  display: block;
  margin: 2vmax 0;
  font-size: 1vmax;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#char_house tr {
  color: #ffffff;
}

#char_house thead tr {
  border-bottom: 2px solid white;
}

#char_house body tr {
  text-align: left;
}

#char_house th,
#char_house td {
  padding: 1vmax;
}

#char_house th:nth-child(1),
#char_house td:nth-child(1) {
  background-color:rgb(116, 0, 1);
}

#char_house th:nth-child(2),
#char_house td:nth-child(2) {
  background-color:rgb(26, 71, 42);
}

#char_house th:nth-child(3),
#char_house td:nth-child(3) {
  background-color:rgb(255, 216, 0);
}

#char_house th:nth-child(4),
#char_house td:nth-child(4) {
  background-color:rgb(14, 26, 64);
}

#char_info {
  color: white;
  font-size: 1.1vmax;
}

.inputflex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.charflex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
  height: 26vmax;
}

.tableflex {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

#name, #random {
  width: 15vw;
}

#submit {
  width: 4vw;
}

#char_pic {
  margin-left: 32vw;
  height: 21vmax;
  width: 16vmax;
  background-color: white;
}

#char_pic img {
  display: block;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
}

.header {
  height: 15vmax;
  background-image: url(https://wallpaperaccess.com/full/871025.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

body {
  background-image: url(https://www.seekpng.com/png/full/173-1736350_fog-background-mist.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}