* {
  margin: 0;
  padding: 0;
}

.text {
  color:white;
  font-size: 30px;
  font-family: 'Harry Potter', sans-serif;
}

#title {
  text-align: center;
  padding: 80px;
  font-size: 65px;
}

#char_info {
  color: white;
  
}

#input {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-top: 50px;
}

#wrapper {
  display: flex;
  justify-content: center;
  margin: 40px;
}

#char_pic {
  background-color: white;
  height: 380px;
  width: 280px;
}

#char_pic img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.header {
  height: 230px;
  background-image: url(https://wallpaperaccess.com/full/871025.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

body {
  background-image: url(https://www.seekpng.com/png/full/173-1736350_fog-background-mist.png);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  position: relative;
}