body {
	margin: 0px 0px 10vh 0px;
	background: linear-gradient(to right, #F1FCDC 0%, #DCF1FD 100%);
	background-size: cover;
}

#title-name {
	margin: 0;
	background-color:  #022437;
	text-align: center;
	padding: 30px;
	font-size: 40px;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: bold;
	position: relative;
}

span {
	color: #FD9393;
}

.text-color{
	color: white;
}

.alignItems{
	display: flex;
	align-items: center;
	flex-direction: column;
}

input {
	margin: 20px;
	width: 60%;
	padding: 10px;
	border-radius: 20px;
}

input,
input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
}

button {
	width: auto;
	height:  auto;
	background-color: #C0FF4A;
	font-size: 3vw;
	padding: 10px;
	border-radius: 10px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#errorMessage{
	color:  red;
	font-size: 20px;
}

main div {
	display: inline-flex;
	align-items: center;
	flex-direction: column;
	background: linear-gradient(to right, #FFFA9E 0%, #FFD7E3 100%);;
	margin-top: 20px;
	border: 3px solid black;
  	border-radius: 10px;
}

main div:hover, main div:focus {
  transform: scale(1.05);
}

.x {
	all: unset;
	position: relative;
	margin-left: 90%;
	margin-top: 5%;
	visibility: hidden;
	opacity: 0;	
	transition: visibility 0.75s linear, opacity 0.75s linear;
}

main div:hover .x {
	visibility: visible;
	opacity: 1;
}

img {
	width: 28vw;
    height: 35vw;
}

@media only screen and (max-width: 770px){
	img {
		width: 45vw;
		height: 50vw;
	}
}

main div:hover {
	cursor: pointer;
}

div a {
	align-items: center;
	margin-bottom: 5px;
	font-size: 30px;
	color:  black;
	text-decoration: none;
}