#title{
    background-color:rgb(41, 145, 41);
    display: flex;
    justify-content: center; 
}

.menuBar{
    background-color:rgb(84, 209, 84);
    font-size: 120%;
}

#countryTitle{
    display: flex;
    justify-content: center;
}
.buttonAlign{
    display: flex;
    align-items: center;
    justify-content: center;
    height:125px;
}

#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    background-color:wheat;
}

#country{
    background-color:wheat;
    height: 100px;
    font-size: 150%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.countrySection{
    background-color:rgb(84, 209, 84);
    height: auto;
    width: 20%;
}

#amount{
    background-color:wheat;
    height: 100px;
    font-size: 150%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.amountSection{
    background-color:rgb(84, 209, 84);
    height: auto;
    width: 20%;
}

#conversionRate{
    background-color:wheat;
    font-size: 150%;
    height: 100px;
}

.rateSection{
    background-color:rgb(84, 209, 84);
    height: auto;
    width: 30%;
     position: relative;
    left: 30%;
    top: 50px;
}

#conversion{
    background-color:wheat;
    font-size: 150%;
    height: 300px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.conversionSection{
    background-color:rgb(84, 209, 84);
    height: auto;
    width: 50%;
    position: relative;
    left: 30%;
    top: -500px;
}

img{
    max-width: 25%;
    height: auto;
    position: relative;
   top: -490px;
}

.linkList{
    background-color:rgb(84, 209, 84);
    height: auto;
    max-width: 30%;
    position: relative;
    left: 65%;
    top: -615px;
}
#list{
    background-color:wheat;
    height: auto;

}