/* CSS Project 0 Document */


html {
    display: table;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;

}

body {
    background-color: rgb(20, 102, 48) ;
    padding: 50px 75px 125px;
    vertical-align: middle;
    display: table-cell;
}

img{
    height: 200px;
    width: 300px;

}

table, th, td {
    border: 1px solid black;
    text-align: center;
    
  }
  th.td {
      column-span: 4; 
  }

